@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    background-color: #1F2937;
}

:root {
    --primary-color: #1F2937;
    --seconray-text-color: 
    #e0e1e2;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    background-color: var(--primary-color);
    border: 1.5px solid white;
}

.heading {
    color: var(--seconray-text-color);
    font-size: x-large;
    text-align: center;
    margin: auto;
    padding: 1.5rem 1rem;
}

.description {
    padding: 1rem;
    text-align: center;
    color: var(--seconray-text-color);
}

label {
    color: var(--seconray-text-color);
    font-size: larger;
    text-align: center;
    padding: 0.5rem;
}

input {
    margin: 0rem 2rem;
    padding: 0.5rem;
    background-color: var(--seconray-text-color);
}

#btn-check {
    margin: 1.5rem auto 0rem;
    padding: 0.5rem 1rem;
    max-width: fit-content;
    display: block;
    background-color: var(--seconray-text-color);
    font-weight:bold;
}

#error-messsage {
    padding: 1rem;
    text-align: center;
    color: var(--seconray-text-color);
}


.table-change-notes caption {
    color: var(--seconray-text-color); 
    margin-bottom: 0.5rem;
}

.table-change-notes, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.5rem;
}

.table-change-notes {
    margin: 1rem 1rem;
    color: var(--seconray-text-color);
}


#love-note {
    color: var(--seconray-text-color);
    text-align: center;
    margin-top: -0.5rem;
    font-size: small;
}